* {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
}

.grid-container {
     /* border: 3px solid green; */
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 25px;
}

/* .grid {
     margin: 25px;
} */